.galeria {
    position: relative;
    width: 100%; /* Parents DIV width */
}

.galeria > div {
    position: absolute; /* child DIVs would be place behind the other */
    top: 0;
    height: 400px;
    width: 100%;
    opacity: 0; /* DIVs hidden */
}

/* The ~ selects all siblings after the selector. When slideName is checked  the opacity is off*/
#slideUno:checked ~ .galeria > div:nth-child(1),
#slideDos:checked ~ .galeria > div:nth-child(2),
#slideTres:checked ~ .galeria > div:nth-child(3),
#slideCuatro:checked ~ .galeria > div:nth-child(4) {
    opacity: 1; /* DIVs visible  */
    color: red;
}

.cyan {
    background-color: cyan;
}
.magenta {
    background-color: magenta;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}

.control-slide {
    position: absolute;
    width: 100%;
    top: 100%;
}